
body{
	padding:10px;
}
.slides{

	position:relative;
	height:1000px;
	width:100%;

}
.slides  img{
	height:auto;
	width:100%;
	position:fixed;
	top:0px;
	left:0px;
	z-index:-1;
	
}

.slides  img.top{
	z-index:-3;
}

